@model TailSpin.SpaceGame.Web.Models.LeaderboardViewModel
@{
    ViewData["Title"] = "Afstudeerdemo WvN";
}
<section class="intro">
    <div class="container">
        <img class="title" src="/images/galileo_inlogscherm.png" alt="Afstudeer demo Wouter van Nuland">
    </div>
</section>


