// Page
body {
    color: blue;
    --link: black;
    height: 100%;
}

a {
    color: var(--link);
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

// Sections
.intro {
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
}

.screens {
    background: #666;

    ul {
        padding: 0;

        li {
            display: inline-block;
            width: 160px;
            height: 100px;
            background: #eee;
            margin: .25rem;
            margin-top: .75rem;

            a {
                display: block;
                width: 100%;
                height: 100%;
            }

            img {
                width: 100%;
            }
        }
    }
}

.pic .modal-body p {
    margin-top: 25px;
}

.leaderboard {
    h2 {
        margin-bottom: 4rem;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    .leader-nav {
        .nav-buttons {
            h4 {
                background: #333;
                color: white;
                padding: 1rem;
                margin: 0;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }

            border: 1px solid #999;
            border-radius: 10px;
            margin: 1rem;
            margin-top: 0;

            li {
                padding: .5rem;
            }
        }
    }

    .leader-scores {
        .high-score:nth-child(1) {
            background: #333;
            color: white;
            border-top-right-radius: 1rem;
            border-top-left-radius: 1rem;
            padding: 1rem 0;
            border: none;
        }

        .high-score:nth-last-child(2) {
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }

        .pagination {
            margin-top: 1rem;

            > li > a {
                border-color: #999;
                color: var(--link);
            }

            > .active > a {
                background-color: var(--link);
                color: white;
            }
        }
    }

    .high-score {
        border: 1px solid #999;
        border-top-color: transparent;
        padding: 2rem 0 .5rem;
    }

    .avatar {
        width: 2rem;
        height: 2rem;
        overflow: hidden;
        background: gray;
        border-radius: 99px;
        display: inline-block;
        margin-right: .5rem;
    }

    .score-data {
        a {
            display: inline-flex;
            align-items: center;
        }
    }
}

@media only screen and (max-width: 765px) {
    .leader-scores .high-score {
        padding: 2rem;
    }
}

.no-border {
    border: none;
}